

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tiny App</title>
  </head>
  <body>
    
      <% include partials/_header %>


    <ul>
      <% if (currentUser) { %>
      <% for (const urlKey in urls) { %>
      <li>
      <a><%= urlKey %></a> - 
      <a href="<%= urls[urlKey].longUrl%>"> <%= urls[urlKey].longUrl %> </a> &nbsp;
        <a href="/urls/<%= urlKey %>">
          Edit
        </a> 
        <form method="POST" action="/urls/<%= urlKey %>/delete"> 
          <button type="submit" value="Delete">Delete</button>
        </form>
      </li>
      <% }; %>
      <% } else{ %>
      <h2>Please log in or register</h2>
      
      <% } %> 
    </ul>
    <a href = "/urls/new" > <h1>Create a new link</h1> </a>
  </body>
</html>
